<app-topbar></app-topbar>

<div class="board" *ngIf="data$ | async as data">
    <div class="board-header-container">INLINE FORM BOARD</div>
    <div class="columns">
        <div class="column" *ngFor="let column of data.columns">
            <div class="column-title">{{column.title}}</div>
        </div>
        <app-inline-form class="create-column-form"
             defaultText="Agregar una lista"
             [hasButton]="true"
             buttonText="Agregar lista"
             inputPlaceholder="Agregar nombre de columna"
             (handleSubmit)="createColumn($event)">
        </app-inline-form>
    </div>
</div>
