<header class="home-header">
    <a routerLink="/" class="home-header-home-link">
        <img src="imssb-logo-white.svg">
    </a>
    <div>
        <a routerLink="/login" class="home-header-login">Iniciar sesión</a>
        <a routerLink="/register" class="home-header-register">Registrarse</a>
    </div>
</header>

<div class="home-hero">
    <div class="home-container">
        <div>
            <h1 class="home-title">
                Con [IMSSB Tasks] gestiona tareas de manera eficiente.
            </h1>
            <p class="home-description">
                Los tableros, listas y tarjetas permiten a los equipos organizar y priorizar proyectos de una manera divertida, flexible y gratificante.
            </p>
        </div>
        <div style="margin-left: 25px;">
            <!--<img src="hero.png" alt=""> -->
            <img src="hero.svg" alt="">
        </div>
    </div>
</div>

<div class="home-team">
    <div class="home-container team-container">
        <div>
            <h1 class="home-title">Trabajo en equipo</h1>
            <p class="home-description">
                [IMSSB Tasks] ayuda a los equipos a mantenerse organizados.
            </p>
        </div>
        <div>
            <img src="work-with-any-team.png" class="team-image">
        </div>            
    </div>
</div>


<div class="home-information">
    <div class="home-container information-container">
      <div>
        <img src="information.svg" />
      </div>
      <div>
        <h1 class="home-title">Información de un vistazo</h1>
        <p class="home-description">
            Profundiza en los detalles añadiendo comentarios, archivos adjuntos, fechas de entrega y más directamente a las tarjetas. Colabora en proyectos de principio a fin.
        </p>
      </div>
    </div>
  </div>
  
  <div class="home-workflow">
    <div class="home-container workflow-container">
      <div class="workflow-left-part">
        <h1 class="home-title">Automatización del flujo de trabajo integrada con Butler</h1>
        <p class="home-description">
            ¡Deja que los robots hagan el trabajo! Impulsa la productividad liberando el poder de la automatización en todo tu equipo con Butler y elimina las tareas tediosas de tus listas de tareas con:
        </p>
        <ul style="margin-top: 20px;">
          <li>- Desencadenantes basados ​​en reglas</li>
          <li>- Botones de tarjeta y tablero personalizados</li>
          <li>- Comandos del calendario</li>
          <li>- Comandos de fecha de vencimiento</li>
        </ul>
      </div>
  
      <div>
        <img src="workflow.png" class="workflow-image" />
      </div>
    </div>
  </div>